{% extends "base.html" %}

{% block title %}Begol{% endblock %}

{% block content %}
    <div class="container my-5 text-center">
        <div class="row bg-success-subtle p-3 m-3 rounded shadow">
            <div class="fs-1 m-3">
                Begol
            </div>
            <div class="fs-3 shadow p-4 bg-light rounded 🤤">
                Golo Ghabl An Tagolo
            </div>
            <div>
                img
            </div>
            <a href="{% url 'play' %}" ><button class="btn btn-danger">Lets Play</button></a>
        </div>

    </div>
{% endblock %}