{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block content %}
    <div class="container shadow p-4 mt-3 bg-light rounded">
        <h1 class="text-center text-capitalize">{{ lobby.name }}</h1>
        <div class="text-left row">
            <h3 >Owner:   <img src="{{ owner_player.profile_photo.url }}" alt="Profile Photo" class="img-thumbnail img-fluid mb-3" width="20%">    {{ lobby.owner.username }}</h3>
        </div>
        <ol class="list-group list-group-numbered" id="players-list">
            {% for player in players %}
                <li class="list-group-item d-flex align-items-center {% if player.user == owner_player.user %}list-group-item-info{% endif %}">
                    <!-- Profile Image -->
                    <img src="{{ player.profile_photo.url }}"
                         alt="Profile Photo"
                         class="img-thumbnail img-fluid me-3"
                         style="width: 60px; height: 60px; object-fit: cover;">

                    <!-- Username with optional badge -->
                    <div class="d-flex align-items-center">
                        <span>{{ player.user.username }}</span>
                        {% if player.user == owner_player.user %}
                            <span class="badge bg-primary ms-2">Owner</span>
                        {% endif %}
                    </div>

                    <!-- Color Badge -->
                    <div class="img-thumbnail ms-auto"
                         style="background-color: {{ player.match_color }}; width: 3vw; height: 2vw;"></div>
                </li>
            {% endfor %}
        </ol>


    <div id="spinner" class="text-center mt-3" style="display: none;">
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

        <div class="d-flex justify-content-between mt-3">
            <button id="update-players-btn" class="btn btn-primary">Update Players</button>
            <button id="leave-lobby-btn" class="btn btn-danger ms-2">Leave</button>
            {% if is_owner %}
                <button id="start-game-btn" class="btn btn-success ms-auto">Start Game</button>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block js %}

    <script>
    $(document).ready(function(){
        $('#update-players-btn').on('click', function(){
            $('#spinner').show();
            $.ajax({
                type: 'POST',
                url: window.location.href,
                data: {
                    'type': 'update',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response){
                     $('#spinner').hide();

                    var playersList = $('#players-list');
                    playersList.empty();
                    var baseUrl = response.base_url;
                    var ownerUsername = response.owner_username;
                    if (response.match_status){
                        window.location.href = response.match_url
                        return
                    }
                    response.players.forEach(function(player){
                        var imgUrl = baseUrl + player.profile_photo
                        var listItemClass = player.user__username === ownerUsername
                            ? 'list-group-item d-flex align-items-center list-group-item-info'
                            : 'list-group-item d-flex align-items-center';

                        playersList.append(
                            '<li class="' + listItemClass + '">' +
                                '<img src="' + imgUrl + '" alt="Profile Photo" class="img-thumbnail img-fluid me-3" style="max-width: 10%; height: auto;">' +
                                player.user__username +
                                '<div class="img-thumbnail ms-auto" style="background-color: ' + player.match_color + '; width: 3vw; height: 2vw;"></div>' +
                            '</li>'

                        );
                    });
                },
                error: function(){
                     $('#spinner').hide();
                    alert('There was an error updating the players list.');
                }
            });
        });

        $('#start-game-btn').on('click', function(){
            $.ajax({
                type: 'POST',
                url: window.location.href + 'start-game/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(response){

                    window.location.href = response.redirect_url;
                },
                error: function(xhr, status, error){
                    console.error('Error:', error);
                    alert('There was an error starting the game.');
                }
            });
        });

        $('#leave-lobby-btn').on('click',function () {
            $.ajax({
                type: 'POST',
                url: window.location.href,
                data:{
                    type: 'leave',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (response){
                     window.location.href = response.redirect_url
                },
                error: function(xhr, status, error){
                    console.error('Error:', error);
                    alert('There was an error starting the game.');
                }

            })
        })

    });



</script>

{% endblock %}