<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container my-3 py-3 mx-auto">
        <div class="row">
            <h2>Login</h2>
        </div>
        <form class="row" method="post">
            {% csrf_token %}
            <div class="col-6">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                   {% if form.password.errors %}
                        <div class="alert alert-danger mt-2">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-3">Login</button>
        </form>

        <a href="{% url 'signup' %}"><button class="btn btn-outline-success">Sing-up</button></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
