{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Update Profile</h2>
    <form method="post" enctype="multipart/form-data" class="shadow p-4 bg-light rounded">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-5 m-2 text-center">
                {% if player.profile_photo %}
                    <img src="{{ player.profile_photo.url }}" alt="Profile Photo" class="img-thumbnail mb-3">
                {% endif %}
                <div class="form-group">
                    {{ form.profile_photo.label_tag }}
                    {{ form.profile_photo }}
                </div>
            </div>
            <div class="col-5 m-2">
                <div class="form-group mb-3">
                    {{ form.favorite_color.label_tag }}
                    {{ form.favorite_color }}
                </div>
            </div>
        </div>
    <input type="hidden" name="profile">

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}
